NODE_ENV=development
PORT=3000
REDIS_URL=""
DATABASE_URL="postgresql://user:senha@localhost:5454/nutrify?schema=public"
JWT_SECRET="troque-por-uma-string-aleatoria-de-pelo-menos-32-caracteres"
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
LOGIN_MAX_FAILED_ATTEMPTS=5
LOGIN_LOCKOUT_MINUTES=15
EMAIL_VERIFICATION_CODE_EXPIRES_MINUTES=15
EMAIL_VERIFICATION_MAX_RESEND_ATTEMPTS=3
EMAIL_VERIFICATION_RESEND_WINDOW_MINUTES=15
SITE_URL="dominio.example.com"
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=true/false
SMTP_USER=youremail@gmail.com
SMTP_PASS=sua-senha-de-aplicativo-do-gmail  
SMTP_FROM="Nutrify <nutrify@gmail.com>"

OPENAI_API_KEY="sua-chave-de-api-do-openai"