NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:senha@localhost:5454/nutrify?schema=public"
JWT_SECRET="troque-por-uma-string-aleatoria-de-pelo-menos-32-caracteres"
JWT_EXPIRES_IN=1h
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-de-app
SMTP_FROM="Nutrify <seu-email@gmail.com>"